body {
    background-color: darkkhaki;
}
.container {
    display: flex;
    justify-content: center;

    align-items: center;
}
div {
    display: block;
}
button {
    height: 100px;
    width: 100px;
    display: block;
    font-size: xx-large;
}

